.HamburgerMenu {
  @include hide-component;

  box-sizing: border-box;
  height: 440px;
  width: 290px;
  background-color: $secondary-color;
  position: absolute;
  top: 70px;
  right: 18px;
  padding: 10px;
  transition: all 0.4s ease-in-out;

  .list {
    height: calc(100% - 50px);
    padding: 5px;
    list-style-type: none;
    @include flex-container(5px, column, space-around);

    li {
      font-size: 1.2rem;
      cursor: pointer;
      font-weight: bold;
      color: $primary-color;

      &:hover {
        color: $active-color;
      }
    }
  }
}
