.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-active {
  background-color: $active-color;
}

.bg-active-secondary {
  background-color: $active-secondary-color;
}
