@mixin standard-size {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-container(
  $standard-gap: 0,
  $standard-flex-direction: row,
  $justify-type: center,
  $align-type: center
) {
  display: flex;
  flex-direction: $standard-flex-direction;
  justify-content: $justify-type;
  align-items: $align-type;
  gap: $standard-gap;
}

@mixin card-type {
  height: 300px;
  width: 280px;
  position: relative;
  cursor: pointer;
}
