.Navbar {
  @include flex-container(30px);
  box-sizing: border-box;
  position: relative;

  .logo {
    height: 100px;
    background-color: $secondary-color;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .hamburger {
    position: absolute;
    @include size(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
    background-color: $secondary-color;
    transition: all 0.4s ease;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 45px;
      margin: 4px 0;
      background-color: $primary-color;
    }

    &::before {
      content: "";
      display: block;
      height: 3px;
      width: 45px;
      margin: 4px 0;
      background-color: $primary-color;
    }

    div {
      content: "";
      display: block;
      height: 3px;
      width: 45px;
      margin: 4px 0;
      background-color: $primary-color;
    }

    .clicked {
      hamburger::after {
        color: red;
      }
    }
    @include hide-component;
  }
}
