@import "../../styles/variables";
@import "../../styles/mixin";

.Navbar {
  @include flex-container(30px);
  box-sizing: border-box;
  position: relative;

  .logo {
    height: 100px;
    background-color: $secondary-color;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
    background-color: $secondary-color;

    @include hide-component;
  }
}
