@import "../../styles/variables";

.Navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;

  &__logo {
    height: 100px;
    background-color: $secondary-color;
    position: absolute;
    top: 30px;
    left: 10px;

    @media (max-width: 680px) {
      height: 38px;
      top: 0;
      left: 0;
    }
  }

  &__content {
    height: 40px;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: $secondary-color;

    li {
      cursor: pointer;

      &:hover {
        color: $active-color;
      }
    }
  }
}
