.Footer {
  @include flex-container(30px, row, space-between, flex-start);
  @include size(80vw, 500px);
  @include flex-wrap(flex-wrap);
  @media (max-width: 780px) {
    flex-direction: column;
  }
  margin-top: 200px;
  padding: 10px;
  color: $secondary-color;
  div {
    width: 200px;
  }
}
