@import "../../styles/variables";

.Footer {
  margin-top: 300px;
  height: 500px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 10px;
  color: $secondary-color;
  flex-wrap: wrap;

  div {
    width: 200px;
  }
}
