.CocktailItem {
  position: relative;

  .card {
    @include card-type;

    .cardImage {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: dotted 7px $active-color;
      border-radius: 50%;
    }

    .cardNamename {
      position: absolute;
      font-size: 1.5rem;
      bottom: 0;
      right: -15px;
      color: $primary-color;
      background-color: $secondary-color;
      padding: 3px 10px;
      border-radius: 5px;
      box-shadow: 0 4px 4px $active-secondary-color;
    }
  }
}
