@import "../../styles/variables";

.CocktailItem {
  position: relative;
  &__card {
    height: 300px;
    width: 280px;
    position: relative;
    cursor: pointer;

    &__image {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: dotted 7px $active-color;
      border-radius: 50%;
    }

    &__name {
      position: absolute;
      font-size: 1.5rem;
      bottom: 0;
      right: -15px;
      color: $primary-color;
      background-color: $secondary-color;
      padding: 3px 10px;
      border-radius: 5px;
      box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.055);
    }
  }

  &__info {
    color: white;
    position: absolute;
    box-sizing: border-box;
    background-color: #131816;
    top: -20px;
    height: 110%;
    width: 120%;
    padding: 30px;
    visibility: hidden;
    cursor: pointer;
  }

  .show {
    visibility: visible;
  }
}
