@import "../../styles/variables";
@import "../../styles/mixin";

.CocktailItem {
  position: relative;

  &__card {
    @include card-type;

    &__image {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: dotted 7px $active-color;
      border-radius: 50%;
    }

    &__name {
      position: absolute;
      font-size: 1.5rem;
      bottom: 0;
      right: -15px;
      color: $primary-color;
      background-color: $secondary-color;
      padding: 3px 10px;
      border-radius: 5px;
      box-shadow: 0 4px 4px $active-secondary-color;
    }
  }

  &__info {
    color: white;
    position: absolute;
    box-sizing: border-box;
    background-color: #131816;
    top: -20px;
    height: 110%;
    width: 120%;
    padding: 30px;
    cursor: pointer;
  }
}
