// Default
// ----------------------------------------------------------------------------------------------
$black: #000000;
$white: #ffffff;

// Design System
// ----------------------------------------------------------------------------------------------
$primary-color: #131816;
$secondary-color: #e9e9e9;
$active-color: #f26f3e;
$active-secondary-color: #ff9a4148;
$bordotto: dotted 7px $active-color;
